<div class="container" style="margin-top:60px; border-radius:5px; width:750px">
<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#999999"></span>
<h2 style="color:#999999">지난 게시글</h2>
<% @every_post.each do |p|%>
제목 : <%=p.title%> <br>
<br>
내용 : <%=p.content%> <br>
시간 : <%=p.created_at %> <br>
<a href="/update_view/<%= p.id%>">[수정]</a>
<a href="/destroy/<%= p.id%>">[삭제]</a>
<hr>
<%end%>
<h4><a href="/">글쓰러 가기</a></a></h4>
